.content{
    margin-left: 20px;
    height: 50px;
    display: flex;
    width: 35%;
    border: 1px solid white;
    transform: skew(-30deg);
    background-color: white;
    .input{
        border: 0;
        width: 70%;
        height: 100%;
        padding-left: 20px;
        transform: skew(30deg);
        background: none;
    }
    .btn{
        background-color: red;
        text-align: center;
        border: 0;
        width: 30%;
        color: white;   
        p{
            transform: skew(30deg);
        }
        
    }


}



@media (max-width: 900px) {
    .content {
        transform: skew(0deg);
        width: 80%;
        .btn p{
            transform: skew(0deg);
        }
        .input {
            transform: skew(0deg);
         }
    }

  }
.red {
    border:2px solid red;
  }

